In [1]:
import pandas as pd   # For data manipulation
import nltk           # For natural language processing
import re             # For regular expressions (text cleaning)
nltk.download('stopwords')  # Download common stopwords
nltk.download('punkt')      # Download tokenizer models
nltk.download('wordnet')    # Download WordNet lemmatizer data

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\prana/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to C:\Users\prana/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\prana/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [2]:
df = pd.read_csv(r'C:\Users\prana\OneDrive\Desktop\infosys\resume_data.csv')
print(df.head())

  address                                   career_objective  \
0     NaN  Big data analytics working and database wareho...
1     NaN  Fresher looking to join as a data analyst and ...
2     NaN                                                NaN
3     NaN  To obtain a position in a fast-paced business ...
4     NaN  Professional accountant with an outstanding wo...

                                              skills  \
0  ['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...
1  ['Data Analysis', 'Data Analytics', 'Business ...
2  ['Software Development', 'Machine Learning', '...
3  ['accounts payables', 'accounts receivables', ...
4  ['Analytical reasoning', 'Compliance testing k...

                        educational_institution_name  \
0  ['The Amity School of Engineering & Technology...
1  ['Delhi University - Hansraj College', 'Delhi ...
2    ['Birla Institute of Technology (BIT), Ranchi']
3  ['Martinez Adult Education, Business Training ...
4                          ['Kent State University']

                                        degree_names     passing_years  \
0                                         ['B.Tech']          ['2019']
1    ['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']  ['2015', '2018']
2                                         ['B.Tech']          ['2018']
3  ['Computer Applications Specialist Certificate...          ['2008']
4            ['Bachelor of Business Administration']            [None]

  educational_results    result_types             major_field_of_studies  \
0             ['N/A']          [None]                    ['Electronics']
1      ['N/A', 'N/A']  ['N/A', 'N/A']      ['Mathematics', 'Statistics']
2             ['N/A']         ['N/A']  ['Electronics/Telecommunication']
3              [None]          [None]          ['Computer Applications']
4            ['3.84']          [None]                     ['Accounting']

                          professional_company_names  ... online_links  \
0                                      ['Coca-COla']  ...          NaN
1                                ['BIB Consultancy']  ...          NaN
2                              ['Axis Bank Limited']  ...          NaN
3  ['Company Name ï¼ City , State', 'Company Name...  ...          NaN
4  ['Company Name', 'Company Name', 'Company Name...  ...       [None]

  issue_dates           expiry_dates  \
0         NaN                    NaN
1         NaN                    NaN
2         NaN                    NaN
3         NaN                    NaN
4      [None]  ['February 15, 2021']

                                  ﻿job_position_name  \
0                           Senior Software Engineer
1                     Machine Learning (ML) Engineer
2  Executive/ Senior Executive- Trade Marketing, ...
3                     Business Development Executive
4                                Senior iOS Engineer

                            educationaL_requirements experiencere_requirement  \
0  B.Sc in Computer Science & Engineering from a ...          At least 1 year
1  M.Sc in Computer Science & Engineering or in a...       At least 5 year(s)
2            Master of Business Administration (MBA)         At least 3 years
3                                    Bachelor/Honors             1 to 3 years
4      Bachelor of Science (BSc) in Computer Science         At least 4 years

      age_requirement                                 responsibilities.1  \
0                 NaN  Technical Support\nTroubleshooting\nCollaborat...
1                 NaN  Machine Learning Leadership\nCross-Functional ...
2                 NaN  Trade Marketing Executive\nBrand Visibility, S...
3  Age 22 to 30 years  Apparel Sourcing\nQuality Garment Sourcing\nRe...
4                 NaN  iOS Lifecycle\nRequirement Analysis\nNative Fr...

                                     skills_required matched_score
0                                                NaN      0.850000
1                                                NaN      0.750000
2  Brand Promotion\nCampaign Management\nField Su...      0.416667
3  Fast typing skill\nIELTSInternet browsing & on...      0.760000
4  iOS\niOS App Developer\niOS Application Develo...      0.650000

[5 rows x 35 columns]

In [3]:
df['career_objective_lower'] = df['career_objective'].str.lower()
df['skills_lower'] = df['skills'].apply(lambda x: ' '.join(x).lower() if isinstance(x, list) else str(x).lower())

In [4]:
df.head()

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,expiry_dates,﻿job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score,career_objective_lower,skills_lower
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],...,NaN,Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,NaN,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.850000,big data analytics working and database wareho...,"['big data', 'hadoop', 'hive', 'python', 'mapr..."
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],...,NaN,Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),NaN,Machine Learning Leadership\nCross-Functional ...,NaN,0.750000,fresher looking to join as a data analyst and ...,"['data analysis', 'data analytics', 'business ..."
2,NaN,NaN,"['Software Development', 'Machine Learning', '...","['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['N/A'],['N/A'],['Electronics/Telecommunication'],['Axis Bank Limited'],...,NaN,"Executive/ Senior Executive- Trade Marketing, ...",Master of Business Administration (MBA),At least 3 years,NaN,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.416667,NaN,"['software development', 'machine learning', '..."
3,NaN,To obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...","['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,['2008'],[None],[None],['Computer Applications'],"['Company Name ï¼ City , State', 'Company Name...",...,NaN,Business Development Executive,Bachelor/Honors,1 to 3 years,Age 22 to 30 years,Apparel Sourcing\nQuality Garment Sourcing\nRe...,Fast typing skill\nIELTSInternet browsing & on...,0.760000,to obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ..."
4,NaN,Professional accountant with an outstanding wo...,"['Analytical reasoning', 'Compliance testing k...",['Kent State University'],['Bachelor of Business Administration'],[None],['3.84'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name...",...,"['February 15, 2021']",Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.650000,professional accountant with an outstanding wo...,"['analytical reasoning', 'compliance testing k..."

In [5]:
import string

# Define which punctuation to remove (all standard punctuation)
PUNCT_TO_REMOVE = string.punctuation

# Custom function to remove punctuation
def remove_punctuation(text):
    return text.translate(str.maketrans('', '', PUNCT_TO_REMOVE))

# Apply the function to the column 'text_lower_JD' and create a new column
df["co_lowerpunc"]=df["career_objective_lower"].apply(lambda text: remove_punctuation(str(text)))
df["s_lowerpunc"]=df["skills_lower"].apply(lambda text: remove_punctuation(str(text)))

# View first rows to verify
print(df.head())

  address                                   career_objective  \
0     NaN  Big data analytics working and database wareho...
1     NaN  Fresher looking to join as a data analyst and ...
2     NaN                                                NaN
3     NaN  To obtain a position in a fast-paced business ...
4     NaN  Professional accountant with an outstanding wo...

                                              skills  \
0  ['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...
1  ['Data Analysis', 'Data Analytics', 'Business ...
2  ['Software Development', 'Machine Learning', '...
3  ['accounts payables', 'accounts receivables', ...
4  ['Analytical reasoning', 'Compliance testing k...

                        educational_institution_name  \
0  ['The Amity School of Engineering & Technology...
1  ['Delhi University - Hansraj College', 'Delhi ...
2    ['Birla Institute of Technology (BIT), Ranchi']
3  ['Martinez Adult Education, Business Training ...
4                          ['Kent State University']

                                        degree_names     passing_years  \
0                                         ['B.Tech']          ['2019']
1    ['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']  ['2015', '2018']
2                                         ['B.Tech']          ['2018']
3  ['Computer Applications Specialist Certificate...          ['2008']
4            ['Bachelor of Business Administration']            [None]

  educational_results    result_types             major_field_of_studies  \
0             ['N/A']          [None]                    ['Electronics']
1      ['N/A', 'N/A']  ['N/A', 'N/A']      ['Mathematics', 'Statistics']
2             ['N/A']         ['N/A']  ['Electronics/Telecommunication']
3              [None]          [None]          ['Computer Applications']
4            ['3.84']          [None]                     ['Accounting']

                          professional_company_names  ...  \
0                                      ['Coca-COla']  ...
1                                ['BIB Consultancy']  ...
2                              ['Axis Bank Limited']  ...
3  ['Company Name ï¼ City , State', 'Company Name...  ...
4  ['Company Name', 'Company Name', 'Company Name...  ...

                            educationaL_requirements experiencere_requirement  \
0  B.Sc in Computer Science & Engineering from a ...          At least 1 year
1  M.Sc in Computer Science & Engineering or in a...       At least 5 year(s)
2            Master of Business Administration (MBA)         At least 3 years
3                                    Bachelor/Honors             1 to 3 years
4      Bachelor of Science (BSc) in Computer Science         At least 4 years

      age_requirement                                 responsibilities.1  \
0                 NaN  Technical Support\nTroubleshooting\nCollaborat...
1                 NaN  Machine Learning Leadership\nCross-Functional ...
2                 NaN  Trade Marketing Executive\nBrand Visibility, S...
3  Age 22 to 30 years  Apparel Sourcing\nQuality Garment Sourcing\nRe...
4                 NaN  iOS Lifecycle\nRequirement Analysis\nNative Fr...

                                     skills_required matched_score  \
0                                                NaN      0.850000
1                                                NaN      0.750000
2  Brand Promotion\nCampaign Management\nField Su...      0.416667
3  Fast typing skill\nIELTSInternet browsing & on...      0.760000
4  iOS\niOS App Developer\niOS Application Develo...      0.650000

                              career_objective_lower  \
0  big data analytics working and database wareho...
1  fresher looking to join as a data analyst and ...
2                                                NaN
3  to obtain a position in a fast-paced business ...
4  professional accountant with an outstanding wo...

                                        skills_lower  \
0  ['big data', 'hadoop', 'hive', 'python', 'mapr...
1  ['data analysis', 'data analytics', 'business ...
2  ['software development', 'machine learning', '...
3  ['accounts payables', 'accounts receivables', ...
4  ['analytical reasoning', 'compliance testing k...

                                        co_lowerpunc  \
0  big data analytics working and database wareho...
1  fresher looking to join as a data analyst and ...
2                                                nan
3  to obtain a position in a fastpaced business o...
4  professional accountant with an outstanding wo...

                                         s_lowerpunc
0  big data hadoop hive python mapreduce spark ja...
1  data analysis data analytics business analysis...
2  software development machine learning deep lea...
3  accounts payables accounts receivables account...
4  analytical reasoning compliance testing knowle...

[5 rows x 39 columns]

In [6]:
from nltk.corpus import stopwords

# Download stopwords if not already done
import nltk
nltk.download('stopwords')

# Create a set of English stopwords
STOPWORDS = set(stopwords.words('english'))

# Define a function to remove stopwords from a text string
def remove_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

# Apply the function to the 'text_wo_punct' column and create a new column 'text_wo_stop'
df["co_lowerpuncstop"] = df["co_lowerpunc"].apply(lambda text: remove_stopwords(text))
df["s_lowerpuncstop"] = df["s_lowerpunc"].apply(lambda text: remove_stopwords(text))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\prana/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [7]:
print(df.head())

  address                                   career_objective  \
0     NaN  Big data analytics working and database wareho...
1     NaN  Fresher looking to join as a data analyst and ...
2     NaN                                                NaN
3     NaN  To obtain a position in a fast-paced business ...
4     NaN  Professional accountant with an outstanding wo...

                                              skills  \
0  ['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...
1  ['Data Analysis', 'Data Analytics', 'Business ...
2  ['Software Development', 'Machine Learning', '...
3  ['accounts payables', 'accounts receivables', ...
4  ['Analytical reasoning', 'Compliance testing k...

                        educational_institution_name  \
0  ['The Amity School of Engineering & Technology...
1  ['Delhi University - Hansraj College', 'Delhi ...
2    ['Birla Institute of Technology (BIT), Ranchi']
3  ['Martinez Adult Education, Business Training ...
4                          ['Kent State University']

                                        degree_names     passing_years  \
0                                         ['B.Tech']          ['2019']
1    ['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']  ['2015', '2018']
2                                         ['B.Tech']          ['2018']
3  ['Computer Applications Specialist Certificate...          ['2008']
4            ['Bachelor of Business Administration']            [None]

  educational_results    result_types             major_field_of_studies  \
0             ['N/A']          [None]                    ['Electronics']
1      ['N/A', 'N/A']  ['N/A', 'N/A']      ['Mathematics', 'Statistics']
2             ['N/A']         ['N/A']  ['Electronics/Telecommunication']
3              [None]          [None]          ['Computer Applications']
4            ['3.84']          [None]                     ['Accounting']

                          professional_company_names  ...     age_requirement  \
0                                      ['Coca-COla']  ...                 NaN
1                                ['BIB Consultancy']  ...                 NaN
2                              ['Axis Bank Limited']  ...                 NaN
3  ['Company Name ï¼ City , State', 'Company Name...  ...  Age 22 to 30 years
4  ['Company Name', 'Company Name', 'Company Name...  ...                 NaN

                                  responsibilities.1  \
0  Technical Support\nTroubleshooting\nCollaborat...
1  Machine Learning Leadership\nCross-Functional ...
2  Trade Marketing Executive\nBrand Visibility, S...
3  Apparel Sourcing\nQuality Garment Sourcing\nRe...
4  iOS Lifecycle\nRequirement Analysis\nNative Fr...

                                     skills_required matched_score  \
0                                                NaN      0.850000
1                                                NaN      0.750000
2  Brand Promotion\nCampaign Management\nField Su...      0.416667
3  Fast typing skill\nIELTSInternet browsing & on...      0.760000
4  iOS\niOS App Developer\niOS Application Develo...      0.650000

                              career_objective_lower  \
0  big data analytics working and database wareho...
1  fresher looking to join as a data analyst and ...
2                                                NaN
3  to obtain a position in a fast-paced business ...
4  professional accountant with an outstanding wo...

                                        skills_lower  \
0  ['big data', 'hadoop', 'hive', 'python', 'mapr...
1  ['data analysis', 'data analytics', 'business ...
2  ['software development', 'machine learning', '...
3  ['accounts payables', 'accounts receivables', ...
4  ['analytical reasoning', 'compliance testing k...

                                        co_lowerpunc  \
0  big data analytics working and database wareho...
1  fresher looking to join as a data analyst and ...
2                                                nan
3  to obtain a position in a fastpaced business o...
4  professional accountant with an outstanding wo...

                                         s_lowerpunc  \
0  big data hadoop hive python mapreduce spark ja...
1  data analysis data analytics business analysis...
2  software development machine learning deep lea...
3  accounts payables accounts receivables account...
4  analytical reasoning compliance testing knowle...

                                    co_lowerpuncstop  \
0  big data analytics working database warehouse ...
1  fresher looking join data analyst junior data ...
2                                                nan
3  obtain position fastpaced business office envi...
4  professional accountant outstanding work ethic...

                                     s_lowerpuncstop
0  big data hadoop hive python mapreduce spark ja...
1  data analysis data analytics business analysis...
2  software development machine learning deep lea...
3  accounts payables accounts receivables account...
4  analytical reasoning compliance testing knowle...

[5 rows x 41 columns]

In [8]:
import nltk
nltk.download('averaged_perceptron_tagger')  # Correct POS tagger resource
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\prana/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to C:\Users\prana/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to C:\Users\prana/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [9]:
# First, download the required NLTK resources
import nltk
nltk.download('averaged_perceptron_tagger_eng')  # Correct resource name (without _eng)
nltk.download('wordnet')  # Also download wordnet if not already downloaded

# Now the original code should work
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
wordnet_map = {"N":wordnet.NOUN, "V":wordnet.VERB, "J":wordnet.ADJ, "R":wordnet.ADV}
def lemmatize_words(text):
    pos_tagged_text = nltk.pos_tag(text.split())  # This will now work with the downloaded resource
    return " ".join([lemmatizer.lemmatize(word, wordnet_map.get(pos[0], wordnet.NOUN)) for word, pos in pos_tagged_text])

df["co_lemm"] = df["co_lowerpuncstop"].apply(lambda text: lemmatize_words(text))
df.head()

[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     C:\Users\prana/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger_eng is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to C:\Users\prana/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,responsibilities.1,skills_required,matched_score,career_objective_lower,skills_lower,co_lowerpunc,s_lowerpunc,co_lowerpuncstop,s_lowerpuncstop,co_lemm
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],...,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.850000,big data analytics working and database wareho...,"['big data', 'hadoop', 'hive', 'python', 'mapr...",big data analytics working and database wareho...,big data hadoop hive python mapreduce spark ja...,big data analytics working database warehouse ...,big data hadoop hive python mapreduce spark ja...,big data analytics work database warehouse man...
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],...,Machine Learning Leadership\nCross-Functional ...,NaN,0.750000,fresher looking to join as a data analyst and ...,"['data analysis', 'data analytics', 'business ...",fresher looking to join as a data analyst and ...,data analysis data analytics business analysis...,fresher looking join data analyst junior data ...,data analysis data analytics business analysis...,fresher look join data analyst junior data sci...
2,NaN,NaN,"['Software Development', 'Machine Learning', '...","['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['N/A'],['N/A'],['Electronics/Telecommunication'],['Axis Bank Limited'],...,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.416667,NaN,"['software development', 'machine learning', '...",nan,software development machine learning deep lea...,nan,software development machine learning deep lea...,nan
3,NaN,To obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...","['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,['2008'],[None],[None],['Computer Applications'],"['Company Name ï¼ City , State', 'Company Name...",...,Apparel Sourcing\nQuality Garment Sourcing\nRe...,Fast typing skill\nIELTSInternet browsing & on...,0.760000,to obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...",to obtain a position in a fastpaced business o...,accounts payables accounts receivables account...,obtain position fastpaced business office envi...,accounts payables accounts receivables account...,obtain position fastpaced business office envi...
4,NaN,Professional accountant with an outstanding wo...,"['Analytical reasoning', 'Compliance testing k...",['Kent State University'],['Bachelor of Business Administration'],[None],['3.84'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name...",...,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.650000,professional accountant with an outstanding wo...,"['analytical reasoning', 'compliance testing k...",professional accountant with an outstanding wo...,analytical reasoning compliance testing knowle...,professional accountant outstanding work ethic...,analytical reasoning compliance testing knowle...,professional accountant outstanding work ethic...

In [10]:
# First, download the required NLTK resources
import nltk
nltk.download('averaged_perceptron_tagger_eng')  # Correct resource name (without _eng)
nltk.download('wordnet')  # Also download wordnet if not already downloaded

# Now the original code should work
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
wordnet_map = {"N":wordnet.NOUN, "V":wordnet.VERB, "J":wordnet.ADJ, "R":wordnet.ADV}
def lemmatize_words(text):
    pos_tagged_text = nltk.pos_tag(text.split())  # This will now work with the downloaded resource
    return " ".join([lemmatizer.lemmatize(word, wordnet_map.get(pos[0], wordnet.NOUN)) for word, pos in pos_tagged_text])

df["co_lemm"] = df["co_lowerpuncstop"].apply(lambda text: lemmatize_words(text))
df["s_lemm"] = df["s_lowerpuncstop"].apply(lambda text: lemmatize_words(text))
df.head()

[nltk_data] Downloading package averaged_perceptron_tagger_eng to
[nltk_data]     C:\Users\prana/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger_eng is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to C:\Users\prana/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,skills_required,matched_score,career_objective_lower,skills_lower,co_lowerpunc,s_lowerpunc,co_lowerpuncstop,s_lowerpuncstop,co_lemm,s_lemm
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],...,NaN,0.850000,big data analytics working and database wareho...,"['big data', 'hadoop', 'hive', 'python', 'mapr...",big data analytics working and database wareho...,big data hadoop hive python mapreduce spark ja...,big data analytics working database warehouse ...,big data hadoop hive python mapreduce spark ja...,big data analytics work database warehouse man...,big data hadoop hive python mapreduce spark ja...
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],...,NaN,0.750000,fresher looking to join as a data analyst and ...,"['data analysis', 'data analytics', 'business ...",fresher looking to join as a data analyst and ...,data analysis data analytics business analysis...,fresher looking join data analyst junior data ...,data analysis data analytics business analysis...,fresher look join data analyst junior data sci...,data analysis data analytics business analysis...
2,NaN,NaN,"['Software Development', 'Machine Learning', '...","['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['N/A'],['N/A'],['Electronics/Telecommunication'],['Axis Bank Limited'],...,Brand Promotion\nCampaign Management\nField Su...,0.416667,NaN,"['software development', 'machine learning', '...",nan,software development machine learning deep lea...,nan,software development machine learning deep lea...,nan,software development machine learn deep learni...
3,NaN,To obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...","['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,['2008'],[None],[None],['Computer Applications'],"['Company Name ï¼ City , State', 'Company Name...",...,Fast typing skill\nIELTSInternet browsing & on...,0.760000,to obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...",to obtain a position in a fastpaced business o...,accounts payables accounts receivables account...,obtain position fastpaced business office envi...,accounts payables accounts receivables account...,obtain position fastpaced business office envi...,account payables account receivables account p...
4,NaN,Professional accountant with an outstanding wo...,"['Analytical reasoning', 'Compliance testing k...",['Kent State University'],['Bachelor of Business Administration'],[None],['3.84'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name...",...,iOS\niOS App Developer\niOS Application Develo...,0.650000,professional accountant with an outstanding wo...,"['analytical reasoning', 'compliance testing k...",professional accountant with an outstanding wo...,analytical reasoning compliance testing knowle...,professional accountant outstanding work ethic...,analytical reasoning compliance testing knowle...,professional accountant outstanding work ethic...,analytical reason compliance test knowledge ef...

In [12]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\prana/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [14]:
from nltk.tokenize import word_tokenize, sent_tokenize

def safe_word_tokenize(text):
    try:
        return word_tokenize(text)
    except LookupError:
        # Fallback: simple whitespace split if tokenizer resource missing
        return text.split()

df['co_tokens'] = df['co_lemm'].apply(lambda x: safe_word_tokenize(x))
df['s_tokens'] = df['s_lemm'].apply(lambda x: safe_word_tokenize(x))

In [15]:
df.head()

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,career_objective_lower,skills_lower,co_lowerpunc,s_lowerpunc,co_lowerpuncstop,s_lowerpuncstop,co_lemm,s_lemm,co_tokens,s_tokens
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],...,big data analytics working and database wareho...,"['big data', 'hadoop', 'hive', 'python', 'mapr...",big data analytics working and database wareho...,big data hadoop hive python mapreduce spark ja...,big data analytics working database warehouse ...,big data hadoop hive python mapreduce spark ja...,big data analytics work database warehouse man...,big data hadoop hive python mapreduce spark ja...,"[big, data, analytics, work, database, warehou...","[big, data, hadoop, hive, python, mapreduce, s..."
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],...,fresher looking to join as a data analyst and ...,"['data analysis', 'data analytics', 'business ...",fresher looking to join as a data analyst and ...,data analysis data analytics business analysis...,fresher looking join data analyst junior data ...,data analysis data analytics business analysis...,fresher look join data analyst junior data sci...,data analysis data analytics business analysis...,"[fresher, look, join, data, analyst, junior, d...","[data, analysis, data, analytics, business, an..."
2,NaN,NaN,"['Software Development', 'Machine Learning', '...","['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['N/A'],['N/A'],['Electronics/Telecommunication'],['Axis Bank Limited'],...,NaN,"['software development', 'machine learning', '...",nan,software development machine learning deep lea...,nan,software development machine learning deep lea...,nan,software development machine learn deep learni...,[nan],"[software, development, machine, learn, deep, ..."
3,NaN,To obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...","['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,['2008'],[None],[None],['Computer Applications'],"['Company Name ï¼ City , State', 'Company Name...",...,to obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...",to obtain a position in a fastpaced business o...,accounts payables accounts receivables account...,obtain position fastpaced business office envi...,accounts payables accounts receivables account...,obtain position fastpaced business office envi...,account payables account receivables account p...,"[obtain, position, fastpaced, business, office...","[account, payables, account, receivables, acco..."
4,NaN,Professional accountant with an outstanding wo...,"['Analytical reasoning', 'Compliance testing k...",['Kent State University'],['Bachelor of Business Administration'],[None],['3.84'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name...",...,professional accountant with an outstanding wo...,"['analytical reasoning', 'compliance testing k...",professional accountant with an outstanding wo...,analytical reasoning compliance testing knowle...,professional accountant outstanding work ethic...,analytical reasoning compliance testing knowle...,professional accountant outstanding work ethic...,analytical reason compliance test knowledge ef...,"[professional, accountant, outstanding, work, ...","[analytical, reason, compliance, test, knowled..."

In [16]:
df.to_csv('processed_resume_dataset_with_tokens.csv', index=False, encoding='utf-8')